[2015-10-29 19:42] Bashkinator opened #1 "npm run build failed"
Script throws "TypeError: Cannot assign to read only property 'canCollapseWhitespace' of true"

It seems that the reason is changes in interface of [html-minifier](https://github.com/kangax/html-minifier), which is used by [html-webpack-plugin](https://github.com/ampedandwired/html-webpack-plugin) (ampedandwired/html-webpack-plugin#97)

Just replace "minify: BUILD" in html-webpack-plugin initializ

[2015-10-29 19:50] Foxandxss commented on #1
I wonder if it really makes sense to minify it or not. My friend @cesarandreu who runs the react version removed it.

[2015-10-29 20:31] Bashkinator commented on #1
I agree, html-minify is not necessary for workflow. But the error needs to be fixed.

[2015-10-29 20:32] Foxandxss commented on #1
Don't worry, will fix it in a bit.

[2015-10-30 09:09] #1 closed

[2015-11-26 02:17] gabrielkunkel opened #2 "Out-Of-The-Box this is not working."
I get the roughly the following complaint every time I try to run any of the npm commands. The only thing I did was update everything in the package.json.

**Output when I run npm run test:live**
/usr/local/bin/node /usr/local/bin/npm run-script test:live

Hash: 8344a6c0a9b3c44a5636
Version: webpack 1.12.9
Time: 598ms

ERROR in ./src/tests.webpack.js
Module build failed: ReferenceError: [BABEL] /U

[2015-11-26 10:22] Foxandxss commented on #2
If you update the package.json, it is likely to break, there are some breaking changes with babel. I will check it and update it and fix the errors.

[2015-11-26 11:45] Foxandxss commented on #2
I updated this with babel 6 support. I need to update more stuff but I need to check them properly first.

I don't think this is going to give you any more issue.

[2015-11-26 11:45] #2 closed

[2015-11-26 15:45] vitaly opened #3 "licence is missing ;)"
Thanks for sharing, but Its unclear what the license is. Makes it a problem to use in any commercial project.

[2015-11-26 15:58] Foxandxss commented on #3
Oh sorry about that. Will fix it. On the meantime, MIT. Feel free to use it
El 26/11/2015 16:45, "Vitaly Kushner" <notifications@github.com> escribió:

[2015-11-26 18:47] Foxandxss commented on #3
Added

[2015-11-26 18:47] #3 closed

[2015-11-26 21:05] gabrielkunkel commented on #2
Gotcha. Thanks. Dev and Build works now. :+1:

[2015-12-14 16:03] VZhuck opened #4 "npm run test is not working"
See the output
$ npm run test

14 12 2015 19:00:59.454:INFO [karma]: Karma v0.13.15 server started at http://localhost:9876/
14 12 2015 19:00:59.463:INFO [launcher]: Starting browser PhantomJS
14 12 2015 19:01:00.273:INFO [PhantomJS 1.9.8 (Windows 8 0.0.0)]: Connected on socket T91Aflg7Hv6ws4UBAAAA with id 28015571

PhantomJS 1.9.8 (Windows 8 0.0.0): Executed 0 of 0 ERROR (0.002 secs / 0 secs)

np

[2015-12-14 17:18] Foxandxss commented on #4
Try downloading the demo at [here](https://github.com/Foxandxss/GermanWords-ng1-webpack) and do the same. Karma is a bit silly when there are no tests (I assume that you didn't write any yet).

[2015-12-29 17:40] dev0x10 opened #5 "Image src not replaced"
I have a directive with img src='image1.jpg' tag inside it.
The image file was compiled but the img src content not changed.
I understand that ES6 style with Angular 1.x still has a problem with directive.
I'm using one of the available solution, creating a static function and return directive instance

[code]

I'm  wondering whether the img src not changed because of angular directive problem wit

[2015-12-29 18:39] Foxandxss commented on #5
The problem is that webpack is that you need to require everything, that include images.

So one solution would be to do a `require(...)` for every image you template have (and probably disable the cache on them).

Another solution is to have inline templates so you can do stuff like:

[code]

Or if you have all your images in a static folder for example, you can move that with a script to the `/p

[2015-12-30 03:03] dev0x10 commented on #5
ah i see....
Thanks!!

[2015-12-30 03:03] #5 closed

[2016-01-26 15:05] LiorSaadon opened #6 "after updating html-webpack-plugin to the latest version template file stopped working"
Can you provide an example on how to use the new templating that was intereduced in the latest version of  "html-webpack-plugin".
i can't make it it work since i updated from version 1.6.2

this is my index.html:

<!doctype html>
< html>
< head>
  < meta charset="UTF-8">
  < title><%- htmlWebpackPlugin.options.title %>< /title>

</ head>
< body>
< div class="container">
  < ui-view></ ui-view>
< /

[2016-01-26 16:08] Foxandxss commented on #6
The author of that library loves the breaking changes without changelogs.
I'll check that when I get home.

[2016-01-26 18:45] Foxandxss commented on #6
I see you opened an issue there, so I am closing this one.

[2016-01-26 18:45] #6 closed

[2016-01-26 19:38] LiorSaadon commented on #6
what do you mean ? i will be happy to get some kind of help i didn't open an issue

[2016-01-26 19:41] Foxandxss commented on #6
Your issue is about html-webpack-plugin so it is better if you talk with its author. I don't really have the response you need.

And on the other hand, I saw you opening an issue there: https://github.com/ampedandwired/html-webpack-plugin/issues/193 so we can continue there.

[2016-01-26 20:00] LiorSaadon commented on #6
Ok, thanks.
btw i appreciate the work you did with this workflow, good job

[2016-01-27 06:21] jantimon commented on #6
@Foxandxss well there is a big breaking change from 1.x to 2.x which is documented in the migration guide. Take a look at http://semver.org/

[2016-01-27 09:07] Foxandxss commented on #6
Thanks for the reply @jantimon . I didn't see that migration guide (I always check for changelog / history and yours was incomplete). I just bumped the version, tried the workflow and it was working correctly. I am pretty aware how semver works and sorry for the last comment, but the minify unexpected change broke the workflow not long ago.

That being said and if I understood correctly, by defaul

[2016-01-27 09:19] jantimon commented on #6
I also thought about using https://github.com/semantic-release/semantic-release which uses conventional-changelog however I don't have admin privileges for the html plugin.

The html webpack plugin now uses the webpack compiler to support loaders.
That means that webpack will apply all loaders found in your main config also for the compilation of the template. (this is done by webpack not by the w

[2016-01-27 09:25] Foxandxss commented on #6
Thank you, I follow your idea now.

The thing is, even if that loader runs, I get the desired output and everything works fine (also tried renaming to .tpl and works exactly the same).

So I guess that unless some issue arises, I will leave it as is.

[2016-01-27 09:40] jantimon commented on #6
Oh - you aren't using any lodash variables anyway.. Then you are correct - it should also work with `.html`.

[2016-02-01 03:11] dcartertwo opened #7 "getting error on fresh install"
on fresh clone and install getting this error
[code]

[2016-02-01 09:42] Foxandxss commented on #7
Are you using the latest version? With babel 6 update, there is an extra package to install (the presets) with extra configuration.

But a fresh clone, npm install and running it with `npm run dev` should do the trick.

That error of yours is because babel is not understanding `import` and that can be due to babel 6 missing presets.

[2016-02-02 01:47] dcartertwo commented on #7
yeah, looks like i didn't have the babel-cli installed.  would you merge a pr that i make which edits the readme to add instructions about the global installs? i know its not necessary but could be helpful for people like me who are just hopping into the webpack/babel-sphere.

[2016-02-02 11:36] Foxandxss commented on #7
Babel cli is not needed. Babel cli is to be able to compile files by hand on the terminal.

[2016-02-02 13:53] dcartertwo commented on #7
i'm not sure, but installing the babel-cli was the only way i got rid of the error from a fresh install.

[2016-02-02 16:38] Foxandxss commented on #7
I don't have it installed.

[2016-02-02 16:43] Foxandxss opened #8 "Check coverage when a directory has no tests"
Seems like having directories without tests makes the plugin ignore it.

[2016-02-13 14:43] #4 closed

[2016-02-13 14:43] Foxandxss opened #9 "Images not loading from css"
Perhaps based on the new Copy plugin? or webpack 2?

[2016-02-16 09:35] riemers opened #10 "webpack.ResolverPlugin not present?"
Forgive me if i am placing it in the wrong spot, but pretty new here for me. I had your old version working and i used the resolverplugin to get bower compontents in. With the new version it doesn't work anymore if i add:
[code]
I get:
    Error: Cannot find module './ResolverPlugin'

I did a fresh install/clean etc, checked that the name is present in webpack.js, which it is. What am i doing wron

[2016-02-16 11:11] Foxandxss commented on #10
I am gonna revert webpack 2 today, so you can check again.

[2016-02-16 11:50] riemers commented on #10
It worked on the older version though, just not on the webpack 2 beta.

[2016-02-16 11:51] Foxandxss commented on #10
Don't worry, you will be able to get all the new features I introduced as soon as I revert webpack, just webpack, the features will be there.

[2016-02-16 11:51] riemers commented on #10
:+1:

[2016-02-16 14:30] Foxandxss commented on #10
I reverted webpack version, this should work now with the latest version.

[2016-02-16 14:30] #10 closed

[2016-02-17 14:26] leonanluppi opened #11 "Build to production"
Hello,

There is a version to put on production? Build my files to production ready.

[2016-02-17 14:30] Foxandxss commented on #11
Yes, you have to run `npm run build` and use what's inside the `dist` folder on production.

Now that you name it, the readme is not as informative as I would like. I will fix that asap.

[2016-02-17 14:56] leonanluppi commented on #11
Thanks buddy!

[2016-02-17 14:56] #11 closed

[2016-02-18 13:39] THuRStoN commented on #9
It's working for me I've modified your script quite a bit but essentially I'm doing this for it to work.
I reference my images as:

**scss**
[code]
My make script does this:

**webpack.make.js**
[code]

[2016-02-18 13:44] Foxandxss commented on #9
I figured this out but never updated the issue.

the `css-loader` (not sure about scss to be honest) does a `require()` with the images, so the path needs to be relative to the css file.

I am going to make some changes and remove the need of CopyWebpackPlugin (hopefully) with the html-loader so css and html images will have the same behavior.

[2016-02-18 13:44] #9 closed

[2016-02-18 14:14] THuRStoN commented on #9
OK! cool!

[2016-02-19 12:49] riemers opened #12 "Not as much an issue, but a question for improvement"
I know you added the copy web plugin, so you can copy assets from your src to build. Isn't there something that can parse the html that sees images and then hashes it, as it does right now with all my css that is being loaded and all other things it 'requires'. Because i have like a banner at the top in the html in my code. So i have all these fancy hashes of everything, except for that banner fil

[2016-02-19 12:52] Foxandxss commented on #12
Yeah, I discovered that instead of using the raw loader to treat the html templates, there is a html-loader that does exactly what you ask.

I am investigating all of this to be 100% sure that I can get rid of copying the assets.

When I verify this, I Will update both starters to do this.

[2016-02-19 12:57] riemers commented on #12
I went back to the webpack 1.0 and it is working like a charm so far. I am also using bower, but i am loading that in via:

[code]
and
[code]
Under config.plugins.push.

That way i can say as example "import bootstrap from 'bootstrap'" if there is a bower component called bootstrap with that name advertised in bower.json.

Might be helpfull for others, or as comment/example unless you have a bette

[2016-02-19 12:59] Foxandxss commented on #12
Is there any good reason to use bower? Bower is pretty dead.

[2016-02-19 13:21] riemers commented on #12
I work in a office where "innovation" is guarded by paperwork. So they have not yet moved from bower type repo's to npm type repo's internally.

[2016-02-22 21:04] deini opened #13 "Not a real issue"
The description of this repo still mentions `webpack 2` but you reverted those changes.

What's the status of this with webpack 2? :O Why was it reverted? Not ready yet I guess?

----

Also is there a way to run the server + test + watch for changes at the same time? Thanks :dancer:

[2016-02-22 22:50] Foxandxss commented on #13
Webpack 2 works nice, the problem is mostly webpack-dev-server and npm2.

With NPM3, all your dependencies are installed in the most *flat* way possible and it won't install any peerDependency. That is good even if the server or the loaders expects an older webpack version (or even 1.x). Those dependencies will suck it and use webpack 2.x as expected.

With NPM2, every dependency will have their o

[2016-02-22 22:59] deini commented on #13
Sounds good, thanks a lot for clarifying!

[2016-02-22 22:59] #13 closed

[2016-02-22 23:00] Foxandxss commented on #13
anytime.

[2016-02-23 17:29] itomas commented on #7
Maybe you missed .babelrc file. Check it :)

[2016-02-24 09:25] riemers commented on #12
Btw, any thoughts about ng-annotate-webpack-plugin? Or is your idea 'write it correct for minimize'?

[2016-02-24 11:20] Foxandxss commented on #12
The problem with this automatic tools is that it doesn't work 100%, so if you rely on "It will work", it could left one injection without min safe and good luck with your "I can't inject `e`" and find where.

On the other hand, even when using `$inject` by hand is more tedious, seems like the community is shifting into doing that vs automatic tools.

[2016-02-24 11:32] riemers commented on #12
That's the idea i was getting too, since i didn't had that yet and used it in the past. Better to write the code complete then. Also, you need any help on the html-loader, or anything i can do to assist?

[2016-02-24 11:36] Foxandxss commented on #12
Don't worry, I need to figure out some other things on the ng2 repo first and implement it there so I can come back here with those ideas. I have been a bit AFK the past few days.

[2016-02-28 15:53] cmelion opened #14 "Typescript compiler errors"
I was doing some refactoring of this fantastic seed project and started noticing some errors in the typescript compiler console.  I reverted but the errors were still there.  Is anyone else seeing this?

![Image of Typescript Compile Errors](https://raw.githubusercontent.com/cmelion/images/master/angular2-webpack/typescript-compiler-error.png)

[2016-02-28 15:56] Foxandxss commented on #14
Wrong repo :P

Did you remove the "ignoreDiagnostic" bits?

[2016-02-28 16:04] cmelion commented on #14
@Foxandxss I did not remove the ignoreDiagnostic bits, should I?

"Wrong repo"?  Sorry, is there a right repo :P

I just started migrating to Angular-2/TS from Angular 1.x and React/ES6 in the last few days, so there are some things I'm still acclimating to.

[2016-02-28 16:12] Foxandxss commented on #14
Oh, I think I see your error, you are using webstorm's integrated compiled and you definitely shouldn't. That won't use webpack nor our ts-loader (that has the ignoreDiagnostic bits).

So what you have is not an error per se, it is just that you are using a different compiler that doesn't have all our options. I would disable the webstorm integrated compiler and just use our npm scripts.

Also yes

[2016-02-28 16:19] cmelion commented on #14
damn!  I'm going blind ... sorry about that.
Thanks, for the quick reply.

[2016-02-28 16:19] #14 closed

[2016-02-29 01:23] DfKimera opened #15 "Cannot run npm run watch, npm start will not watch for changes"
After running `npm start`, changing the entry JS file or the HTML file will not trigger a rebuild. Trying to run `npm run watch` will yield a `missing script: watch` error. Logs attached below.

When running `npm start` and updating `app.js` and `index.html`

[code]

When running `npm run watch`
[code]

[2016-02-29 10:51] Foxandxss commented on #15
That log indicates me that it is re bundling the application with the changes, open localhost:8080 and check. I just tried with a fresh copy and it works fantastic.

About `npm run watch`. I don't have it on this repo (we do on the ng2 one). Will see what the advantages are to see if I implement it or not.

[2016-03-01 20:26] ajcrites opened #16 "Include .spec files with working example"
I am trying to get karma + webpack + angular working based on your examples, but you do not have any `.spec` file examples in the repo to confirm how things should be working. I'm currently unable to get a spec working. *The app I've created works fine* and I can get the tests to run, but no matter what I do I keep coming back to:

I also tried cloning this repo and adding an simple `app.spec` fil

[2016-03-01 20:37] zombiQWERTY commented on #16
@ajcrites try this one
https://gist.github.com/zombiQWERTY/f01087f01506f67d4126

[2016-03-01 20:40] Foxandxss commented on #16
You are pretty much right my friend. I always relied on the demo but that is not good enough (I don't even have it linked in the new readme).

I will add a little extra code tomorrow for this.

[2016-03-02 12:22] Foxandxss commented on #16
I created a minimal application with a spec file. Check it out ;)

[2016-03-04 06:52] anbiniyar opened #17 "Deprecation warning on new install"
[code]
Is there a reason why karma-phantomjs2 is being used? If not, I can try and upgrade it to the latest version and submit a pull request.

Where are my manners? Thank you for this repository. This is a great starting place!

[2016-03-04 10:39] #17 closed

[2016-03-04 10:41] Foxandxss commented on #17
The phantomjs2 launcher was used there because the original one didn't support phantomjs 2 so that was a temporary workaround until the main one had support.

Seems like it works now so I changed it.

[2016-03-04 13:05] ajcrites commented on #16
This is great! One thing that is weird is that I tried emulating this but I had to specify the babel loader for isparta-instrumenter, but you don't do this in your code. How is isparta-instrumenter able to work with the ES6 files for you?

[2016-03-04 13:11] Foxandxss commented on #16
There is a loader setup on webpack (that gets processed on test mode) and then some coverage config on karma.

Check the [webpack part](https://github.com/preboot/angular-webpack/blob/master/webpack.config.js#L126-L135).

[2016-03-05 04:07] anbiniyar commented on #17
That was quick! Thank you for doing this :)

[2016-03-11 11:51] riemers commented on #12
Also, purifycss and any other form of reducing the size of the output would be nice. Bootstrap with a simple app has a lot of overhead. (as example) got a couple of css files which has tons of stuff in it that i don't use. Or am i missing something.

[2016-03-18 10:20] minstrelMan opened #18 "build linking issue..."
When I run the build process 'npm run build' all seems good...
...until I open/run the dist/index.html in a browser.  Nothing happens.

Perhaps there's a 'linking' issue within the build process?  No doubt a simple fix, but I'm just beginning this adventure.

By the way, thanks for providing this workflow!

edit - I'm working with the current/original files; I've made not further adjustments.

[2016-03-18 23:49] zombiQWERTY commented on #18
@minstrelMan, you must run your index.html from `./dist` by server. Put files in the root of the server or install `https://www.npmjs.com/package/http-server`. Then run server by this command: `http-server ./dist` and open in browser `localhost:8080`

[2016-03-19 16:10] #16 closed

[2016-04-06 09:28] mqliutie opened #19 "There no start in scripts"
package.json
[code]
no start

[2016-04-06 09:28] Foxandxss commented on #19
I can see it.

[2016-04-07 02:42] moneytree-doug opened #20 "Relative path?"
I am deploying my dist to a subdirectory. I noticed the images assume from the root. I tried changing the publicPath, but now it doesn't work in local. I'm new to webpack, and I don't know what's the best way to do this.

[2016-04-07 19:58] Foxandxss commented on #20
Check this PR from the ng2 version https://github.com/preboot/angular2-webpack/pull/63. Just one change in the webpack config and changing the forward slashes on the images.

Check if that works for you and if so, I will apply those changes here too.

[2016-04-08 02:18] moneytree-doug commented on #20
@Foxandxss It didn't work.

This is where it tries to fetch the resources from:

[code]

This is where I expect it to fetch the resources from:
[code]

[2016-04-16 18:46] minstrelMan commented on #18
Thanks...sorted it out with solution found in issue/question #20.

[2016-04-18 15:14] riemers commented on #12
If you point me in the right direction i can look into this, also i've noticed that i am not using chunks accordingly. An example where the app and the vendor would be seperated in chunks for example would be a nice addition perhaps.

[2016-04-18 15:18] Foxandxss commented on #12
you just need to use the html-loader instead of raw-loader, that pretty much does it. It had some issues with angular and I had to research it.

About splitting into app and vendor, in the ng2 version of this starter you can see that.

[2016-04-18 15:25] riemers commented on #12
Ok, in that case i'll close this ticket then 👍

[2016-04-18 15:25] #12 closed

[2016-04-24 17:42] houston88 opened #21 "directions for prod build"
Not exactly an issue, but as a webpack noob I could not see how to do prod build. Thanks!

[2016-04-24 17:44] Foxandxss commented on #21
Uh, the docs is not that clear in that aspect. Thanks for the heads up.

You can generate prod build by running

[code]

It will be in the `dist` folder.

[2016-04-25 18:25] houston88 commented on #21
Cool thanks. It blows up for me when I serve out the dist folder, looks like the module names are getting uglified. Hope to look into more this week. Any suggestions?
`angular.js:68Uncaught Error: [$injector:modulerr] Failed to instantiate module app due to:
Error: [$injector:unpr] Unknown provider: t`

[2016-04-25 19:47] #21 closed

[2016-04-28 09:07] stevermeister opened #22 "tests do not work"
I'm trying to run command

    node_modules/.bin/karma start

and getting such error
<img width="326" alt="screen shot 2016-04-28 at 11 07 02" src="https://cloud.githubusercontent.com/assets/1526680/14880833/5edbe33e-0d31-11e6-8bed-28ff2cae8714.png">

[2016-04-28 09:34] Foxandxss commented on #22
Try with "npm test"

[2016-04-28 12:22] stevermeister commented on #22
but it runs the same
only with global karma
https://github.com/preboot/angular-webpack/blob/master/package.json#L8
no?

[2016-04-28 12:40] Foxandxss commented on #22
Yes, but sets a flag in webpack config that will enable / disable services for testing.

[2016-04-28 13:09] stevermeister commented on #22
yes, true! thank you!
but still it's good to use local packages instead of global - https://github.com/preboot/angular-webpack/pull/23/files

[2016-04-29 10:39] bhrt-DS opened #24 "Promise is not defined"
Hi,
downloaded all dependencies but getting error,

ERROR in ./~/css-loader?sourceMap!./~/postcss-loader!./src/style/app.css
Module build failed: ReferenceError: Promise is not defined
    at LazyResult.async (/../workspace/angular-webpack/node_modules/postcss-loader/node_modules/postcss/lib/lazy-result.js:157:31)
    at LazyResult.then (/../workspace/angular-webpack/node_modules/postcss-loader/no

[2016-05-01 07:12] mikeerickson commented on #24
What version of Node do you have installed?  Promises require Node 4.x or greater

$ node -v

[2016-05-04 21:45] thematan commented on #12
i think it can be of much help to state that there is no use of ng-annotate in the readme

[2016-05-04 21:49] Foxandxss commented on #12
Sorry but I don't agree. If I need to state every tool I don't use, that would use a lot of space.

You can add it to your project if you want tho :)

[2016-05-06 05:29] trusktr opened #25 "Error running test"
I created a project and built off of this starter, but when I try to run my first test:

[code]

I get an error like

[code]

Perhaps one of the files I imported eventually imports something that use `new Map`, but, as you can see the error isn't helpful at all (no idea where this happens). Any thoughts?

[2016-05-06 05:43] trusktr commented on #25
Alright, I removed the import statements, so it's like this:

[code]

The output is

[code]

So, something is causing this error that seems to be outside of my code.

[2016-05-06 08:16] Foxandxss commented on #25
I just tried a fresh copy and works, but I can asume that it is somehow requesting es6-shim for you. I will research because I think there were some changes lately on babel world.

[2016-05-06 09:16] Foxandxss commented on #25
Could you try installing `es6-shim` and `require()` it at top of the tests.webpack.js file?

[2016-05-09 19:14] trusktr commented on #25
@Foxandxss That worked! But, should this be handled with Webpack+Babel? Maybe there's something else to use in place of es6-shim that relates to Babel? Or is es6-shim better for some reason?

[2016-05-12 00:28] trusktr commented on #25
I just got

[code]

in another file. Do I need to import es6-shim in all of them?

[2016-05-12 00:29] Foxandxss commented on #25
I will try to try it tomorrow and see what is going on. But normally adding it once at test.webpack.js should do the trick.

[2016-05-12 00:30] trusktr commented on #25
I believe this started happening once I added a `for..of` loop, which when transpiled by Babel uses `Symbol.iterator`.

[2016-05-12 00:31] trusktr commented on #25
Let me try to find where it happens in the compiled code...

[2016-05-12 00:41] trusktr commented on #25
Here's a more full error:

[code]

Seems like the built files go into memory? How do we output to filesystem so we can see?

[2016-05-12 00:42] Foxandxss commented on #25
You can run `node_modules/.bin/webpack` for that.

You probably need babel-polyfill. Will check that too.

[2016-05-12 00:51] trusktr commented on #25
Yep, that was it: http://stackoverflow.com/a/35320045/454780

[2016-05-12 00:53] trusktr commented on #25
So, after adding babel-polyfil, es6-shim no longer needed.

[2016-05-12 02:44] trusktr opened #26 "Built bundle is huge."
The bundle from `npm start` seems to be over 3 mb. This seems really big. Maybe there's a way to slim it down?

[2016-05-12 10:23] Foxandxss commented on #26
That is the raw bundle, all your dependencies in there. This starter itself won't add just like 200kb for the webpack runtime, but the rest are things that you are adding to your application.

[2016-05-12 21:17] trusktr commented on #26
The app bundle (generated from this repo with no modifications) is 3.5mb :

![screen shot 2016-05-12 at 2 11 33 pm](https://cloud.githubusercontent.com/assets/297678/15230633/8792694a-184b-11e6-970a-c319b99c3186.png)

That seems really big!

[2016-05-12 21:23] Foxandxss commented on #26
I get 1.38mb

![](http://puu.sh/oPFvo/6c4279e395.png)

[2016-05-12 21:26] trusktr commented on #26
The huge size is when running with `npm start` (dev mode I suppose). When building with `npm run build`, the resulting bundle is 338K. But in either case I never got 1.38MB. I'm in OS X 10.10.2.

The production `npm run build` size seems to be more reasonable, but I'm still concerned about the dev size. It's humongous!

[2016-05-12 21:26] trusktr commented on #26
Hmmm, my webpack output also shows

[code]

which is different than what Chrome is reporting in the network tab.

[2016-05-12 21:28] Foxandxss commented on #26
Webpack adds a runtime to the bundle so perhaps that is what is making the file bigger. The important one is the production one.

[2016-05-12 21:30] trusktr commented on #26
Downloading to desktop shows the actual file size:

![screen shot 2016-05-12 at 2 28 13 pm](https://cloud.githubusercontent.com/assets/297678/15231066/dc7dbc14-184d-11e6-9016-bc02eb164288.png)

I feel what you're saying, but there must be a way to trim this for dev also (never had it that big before, as far as I can recall). Will be good for older laptops.

[2016-05-12 21:31] Foxandxss commented on #26
I am not sure what can be done. I mean, it is just the runtime + angular itself. Nothing else. It is not like the example comes with thousand of non needed things.

[2016-05-12 21:31] trusktr commented on #26
It might make sense to run the dedupe plugins for dev also, in case those ever introduce a bug, it'll be caught in dev before prod.

[2016-05-12 21:38] trusktr commented on #26
Interesting, docs recommend leaving it for production builds.

[2016-05-12 21:46] trusktr commented on #26
Oh well, closing since prod size is reasonable. (but huge dev size seems overkill).

[2016-05-12 21:46] #26 closed

[2016-05-15 09:11] plakak opened #27 "Global css don't get applied"
Hi,

When I put my sass files (or even CSS files) in src/style, and then run npm style no styles are getting applied to the whole project. Is there a special name/way I should do that?
I don't want to apply styles in components, just get all styles from src/style.
I'm sure I'm doing something wrong, but can't where the problem is...

[2016-05-15 10:19] Foxandxss commented on #27
You need to import them once (main file or something). Webpack has no way of knowing that you want them unless you import them.

[2016-05-15 10:26] plakak commented on #27
Ah, thank you! Worked like a charm.

[2016-05-15 10:26] #27 closed

[2016-05-18 09:37] LoveHL opened #28 "ng-include does not work"
How to use ng-include?

[2016-05-18 11:44] Foxandxss commented on #28
That is one of the edge cases.

You can use the ngtemplate loader and save all your templates inside $templateCache instead of saving the html as raw in the bundle.

[2016-05-19 02:08] LoveHL commented on #28
thx

[2016-05-19 02:08] #28 closed

[2016-05-30 09:15] leyayun opened #29 "I wonder how to use scope in this workflow ?"
How to work with scope in this workflow?

[2016-05-30 09:35] Foxandxss commented on #29
You can always inject $scope. On the other hand, there is no reason to do that

[2016-06-03 03:29] leyayun commented on #25
I have the same problem.  The callback of angular.mock.inject did not execute.
Here is my test file.
`import home from '../../src/app/home/';

describe('HomeController', () => {
  let ctrl;

  beforeEach(() => {
    console.log('beforeEach::');
    angular.mock.module(home);
    console.log('injectModule::');

    angular.mock.inject(($controller) => {
      ctrl = $controller('HomeController');

[2016-06-09 15:40] SoldierCorp opened #30 "Handling controllers and services in subfolders"
Hi!

In order to use this kind of app structure for angular

app.js
--- controllers
------ controller.js
--- services
------ service.js

The webpack configuration you have will work? Or if not, is there a way you can help me to do that?

Kind regards.

[2016-06-12 21:20] ronnieoverby opened #31 "Image paths not being parsed"
[code]

The comment leads one to believe that webpack will modify the src attribute value, but I don't see any evidence that this is happening or is configured to happen.

I need this and I'm new to webpack, so I thought I'd ask you about it.

[2016-06-12 21:24] Foxandxss commented on #31
Webpack will move the content (with CopyWebpackPlugin) from `/public` to `/dist` so at the end you will have the same paths both in development and production.

[2016-06-12 21:49] ronnieoverby commented on #31
I'm sorry but I don't get it...

This has been my greatest frustration with webpack: you're encouraged to use some kind of a dev-server at development time that can server files from memory. While I'm sure this works great for people that either don't have a backend server or are using node as their backend, the rest of us building our apps on .NET, Python, Go, Ruby, etc... we have to find some wa

[2016-06-12 21:53] Foxandxss commented on #31
I hear you friend.

You shouldn't mix your backend (ASP.NET) with your frontend application. You better go with a completely separate project for ASP.NET (with ASP.NET server) and a completely separate project (and separate folder) for the angular application, using webpack and its server.

That will remove some frustration in the long term. Mixing backend and frontend is a call for problems.

Or

[2016-06-12 23:35] ronnieoverby commented on #31
I think agree. Separating them adds some complexity to the deployment process, but I think it's less complexity overall.

[2016-06-12 23:35] #31 closed

[2016-06-15 08:44] FrEaKmAn commented on #25
I have same error and no idea how to solve it.

[2016-06-15 14:47] mariocatch opened #33 "Simple clone and npm start will start the server, but browsing to localhost:8080 results in nothing"
When I clone, `npm install` and then `npm run start`, I get the following output:

[code]

When I browse to http://localhost:8080, I get:
![image](https://cloud.githubusercontent.com/assets/1885172/16084348/79c681ec-32e6-11e6-8f31-51707815d7d2.png)

I haven't changed anything. The server seems to be running (no errors in console output). Any ideas?

Edit:

I'm on Windows 7.

[2016-06-15 14:48] Foxandxss commented on #33
Weird, makes no sense.

[2016-06-15 14:53] mariocatch commented on #33
@Foxandxss I agree :) Any other sort of debuggin

[2016-06-15 14:54] Foxandxss commented on #33
You don't have anything running in that port?

[2016-06-15 15:04] mariocatch commented on #33
Well, even though Windows is stating nothing is running on port 8080, if I change the npm `server` script and add `--port 7777` to the `webpack-dev-server` command, then it works. So it's a non-issue, and something is screwy on my 8080 port.

Sorry and thanks for the assistance.

[2016-06-15 15:04] #33 closed

[2016-06-23 21:52] stefek99 opened #34 "What is the simplest, most straightforward manner of including CSS preprocessor?"
Some reading: http://angular-tips.com/blog/2015/06/using-angular-1-dot-x-with-es6-and-webpack/

![screen shot 2016-06-23 at 22 43 54](https://cloud.githubusercontent.com/assets/249703/16321386/748d5d86-3994-11e6-8658-c245444eda60.png)

Having a look at the list of features:
![screen shot 2016-06-23 at 22 44 22](https://cloud.githubusercontent.com/assets/249703/16321412/97930952-3994-11e6-92fd-6f7f

[2016-06-24 16:31] stefek99 commented on #30
That is something I'm using in my project:

![screen shot 2016-06-24 at 17 30 31](https://cloud.githubusercontent.com/assets/249703/16343850/696adcb0-3a31-11e6-818d-f5db4e01b7da.png)

*(should be simple enough)*

[2016-06-29 18:55] seoj commented on #30
Hi @SoldierCorp
This is something I've done in some of my projects, but it requires the use of require() instead of ES6 import.

[code]

What the above code does is it recursively looks through the directory "services" for all files ending with ".js" and require() it.

[2016-06-29 19:27] stefek99 opened #37 "How to debug karma unit tests?"
1. Installed ```npm install karma-chrome-launcher --save-dev```

2. Added following to ```package.json```: ```"test-debug": "karma start --browsers=Chrome --single-run=false"```

3. When running ```npm start test-debug``` I'm getting following error:

[code]

## Workaround

Edit ```karma.conf.js``` and override ```--browsers=Chrome --single-run=false```

---

Any ideas how to make it better?

[2016-07-04 21:33] JackForbes commented on #15
Just ran into the same thing, any updates on how you were able to get it working @DfKimera?

[2016-07-04 22:52] DfKimera commented on #15
I didn't :/ I've spent a few good hours trying to get it working, to no avail. I ended up using Browserify instead.

[2016-07-05 20:21] stefek99 opened #39 "How to build it minification safe?"
Trying to figure it out right now:

* https://www.reddit.com/r/angularjs/comments/3yv2zp/webpack_and_production_minification_best_practices/
* http://thegreenpizza.github.io/2013/05/25/building-minification-safe-angular.js-applications/
* https://docs.angularjs.org/guide/di#dependency-annotation

[2016-07-05 20:40] Foxandxss commented on #39
I personally use $inject for that.

[2016-07-05 21:23] JackForbes commented on #15
Thanks for the quick response @DfKimera! @Foxandxss I noticed the following in the package.json of the ng2 one:
`"watch": "webpack --watch --progress --profile",`
Would this work here? Also, how do you recommend running this on prod, after doing a `npm run build`?

[2016-07-05 21:25] Foxandxss commented on #15
Do you see anything good coming from that command? I never used it, but if there is value...

And yes, you can put your app in prod with that command.

[2016-07-05 21:34] Foxandxss commented on #15
You don't want to run the slow webpack server on production.

What `npm run build` generate is your static application. Your best option is to serve that using nginx (or apache).

[2016-07-05 22:00] JackForbes commented on #15
Oh ok gotcha, I didn't realize it wouldn't even have to run on localhost on the prod server. Thanks!

[2016-07-06 10:58] Chooin opened #40 "Why autoprefixer not working?"
I have seen config for postcss loader, but when I run build, no prefix added for crossing browser.

[2016-07-08 17:24] graemegeorge opened #42 "Requiring all spec files with es5 syntax"
Whilst using this seed with es5 only syntax, I tried to require each spec file in the `tests.webpack.js` file in the following way, hoping it would work. It comes back with an error on almost every file, scss, js, html etc.. I only have one spec file so far and since `test` only came back as one path, I assumed it would include that one path? What's going on here, am I missing something?

[code]

[2016-07-12 02:11] gdipkf1986 opened #43 "How to user 3rd party typings?"
I tried to add google api scripts by "typing install dt~gapi", it added to typings folder, but after that i have no idea how can i import the gapi in app folder, like
[code]

[2016-07-14 16:01] phra commented on #40
@Chooin  if i have spear time, i'll look into this. ;)

FYI: i'm sending various PRs to this project but imho @Foxandxss doesn't want to add too much opinions, so maybe in the future i'll maintain an updated [fork](https://github.com/phra/angular-webpack/) with more opinions than this one.

[2016-07-14 16:04] Foxandxss commented on #40
I will check the issue.

Sorry, I have too many projects to maintain and to be sincere, this is not top on my list :/

But yes, I don't want too much opinions.

[2016-07-14 16:13] phra commented on #40
@Foxandxss if you want some help to maintain this project, i'm available to help. ;)

[2016-07-14 16:16] Foxandxss commented on #40
I am all in for help, but you want to put some opinions that I personally don't see (like the generator, I am completely against them :/)

[2016-07-14 16:21] phra commented on #40
@Foxandxss as i said before, i'll keep the opinions on my fork.

[2016-07-14 17:11] phra commented on #40
i appreciate very much @Foxandxss 's starter kits and i definitely think that i will use these ones for my future angular1.5 and angular2 projects.
if you want add me to preboot organization so i can start to manage opened issues. (no opinions, only maintenance of the project, as updating deps, managing open issues, et cetera and i'll keep a personal fork with my opinions on a dedicated branch or

[2016-07-14 19:19] Foxandxss commented on #40
I added you. Please create some PRs to fix the issues you see so we can discuss that stuff :)

[2016-07-14 22:38] phra commented on #43
you have to create a typings.json config via `typings init`, install dependencies via `typings install` and configure your IDE to use typings (e.g. vscode wants a [jsconfig.json](https://code.visualstudio.com/docs/languages/javascript) in order to enable intellisense)

[2016-07-14 22:38] #43 closed

[2016-07-14 22:54] phra commented on #29
@leyayun look at (this)[https://docs.angularjs.org/guide/component#comparison-between-directive-definition-and-component-definition].
scopes are being deprecated in favor of isolated components and 1-way data flow. (e.g. angular2 doesn't have scope concept)

[2016-07-14 22:54] #29 closed

[2016-07-14 22:55] #18 closed

[2016-07-14 23:02] phra commented on #42
just drop old ES5 syntax and learn ES2015/2016/2017. you can see how to use it looking at this [PR](https://github.com/preboot/angular-webpack/pull/44/commits/b349b0e9bd2ce4e5b6288568f08d67b224fbbf7d).
you can cherry-pick that commit or can compile by hand that template.

PS: babel convert imports/exports to commonjs format by default, so if you still want to use ES5 you can convert that template

[2016-07-14 23:02] #42 closed

[2016-07-14 23:06] phra commented on #39
you can use this [plugin](https://www.npmjs.com/package/ng-annotate-webpack-plugin) for webpack or instead use [$inject](https://docs.angularjs.org/guide/di/#-inject-property-annotation) annotation.

[2016-07-14 23:06] #39 closed

[2016-07-14 23:10] phra opened #46 "add precss plugin to postcss"
there is a postcss [plugin](https://github.com/jonathantneal/precss/) that lets you to use scss syntax in your css without including node-sass or ruby-sass. it would be nice to include it and close #34 in favor of this choice.

[2016-07-14 23:15] phra commented on #25
to solve this you can look at this [PR](https://github.com/preboot/angular-webpack/pull/44/)
if you use ES2015 and above you can just cherry-pick that commit to have a working component generator with tests automatically scaffolded.

[2016-07-14 23:15] #25 closed

[2016-07-14 23:22] phra commented on #7
this issue has no sense.
no need to have installed babel-cli for building w/ webpack.
you are missing something.
you can look at this [PR](https://github.com/preboot/angular-webpack/pull/44/) to see how to declare components ready to be imported.

[2016-07-14 23:22] #7 closed

[2016-07-14 23:37] phra commented on #37
just install karma-chrome-launcher as development dependency and add chrome to karma browsers list in webpack config.
[code]

[2016-07-14 23:37] #37 closed

[2016-07-14 23:38] #15 closed

[2016-07-14 23:39] #19 closed

[2016-07-14 23:42] #24 closed

[2016-07-14 23:43] #22 closed

[2016-07-14 23:49] phra commented on #46
@Foxandxss what do you think about it?

[2016-07-14 23:50] Foxandxss commented on #46
Calm down my friend :P. I told you I Was going to check it tomorrow, I am going to bed.

[2016-07-14 23:52] graemegeorge commented on #42
I know ES6 already. I would love to use it but the decision is not mine in this scenario. Thanks anyway

[2016-07-14 23:53] phra commented on #46
sorry, the citation was to include you as participants. my "spare time" is pratically at night. ;)

[2016-07-14 23:54] phra commented on #42
@graemegeorge eheh, i know that feeling. i'm sorry about that. ;)

[2016-07-21 13:29] phra commented on #46
any updates? :)

[2016-07-21 13:30] Foxandxss commented on #46
No sorry, will leave this page open to check later.

[2016-07-21 22:03] #40 closed

[2016-07-23 11:32] phra commented on #8
it seems that [isparta-instumenter-loader](https://github.com/ColCh/isparta-instrumenter-loader) has been deprecated. we have to update deps definition and webpack config to use the new [isparta-loader](https://github.com/deepsweet/isparta-loader).

i'll look into this.

[2016-07-23 16:18] phra commented on #8
bug confirmed also with the new loader. it needs more investigation.

[2016-07-23 17:19] phra commented on #8
i've found the problem.

tests are executed via require.context method so **if there aren't *.spec.js files that import the code you want to cover or  that piece of code (e.g. a component) is not imported in your application somewhere, you will not see it in the coverage output.**

[2016-07-23 17:20] Foxandxss commented on #8
I think that doesn't happen in the ng2 version

El 23 jul. 2016 19:19, "Francesco Soncina" <notifications@github.com>
escribió:

[2016-07-23 17:45] phra opened #47 "update to new isparta loader"
the actual [isparta-instrumenter-loader](https://github.com/ColCh/isparta-instrumenter-loader) has been deprecated in favor of [isparta-loader](https://github.com/deepsweet/isparta-loader).

we have to switch to the new loader.

[2016-07-23 17:57] phra commented on #47
i think we can safely merge #48 without side effects.

[2016-07-23 17:58] phra commented on #8
@Foxandxss do you think #49 is an acceptable solution for this? can i also proceed to merge #48 ?

[2016-07-23 19:04] #47 closed

[2016-07-27 22:26] phra commented on #8
@Foxandxss i've found a generic way to include all the js files. i've updated the PR, let me know if we can merge #49 to close this issue.

[2016-07-31 22:02] #8 closed

[2016-08-01 10:04] suplch opened #50 "Don't work in Window8"
[code]
but it can run all right in mac-os

[2016-08-04 08:19] phra commented on #50
hi,

i haven't a windows machine to replicate this.. someone else can provide a feedback?

[2016-08-08 02:40] OmgImAlexis commented on #47
`npm WARN deprecated isparta-loader@2.0.0: This package is deprecated in favor of istanbuljs/babel-plugin-istanbul`

Should this be updated again?

[2016-08-08 11:43] phra commented on #47
@OmgImAlexis thanks for the info. i'll look into this later.

[2016-08-09 00:18] OmgImAlexis commented on #50
Looks like it may be a [npm on windows issue](https://github.com/gaearon/react-hot-boilerplate/issues/47).

[2016-08-31 18:11] theGrue commented on #50
This appears to be an issue with angular**2**-webpack, but this is angular-webpack. You might have more luck opening this issue against the correct project.

[2016-08-31 18:12] phra commented on #50
actually yes. i'm closing this.

[2016-08-31 18:12] #50 closed

[2016-09-01 07:13] McGiogen opened #51 "isparta-loader is deprecated, replace with babel-plugin-istanbul?"
As from isparta-loader's readme, it is deprecated in favor of babel-plugin-istanbul.
I've made this change in my own project but I'm not sure I've done it correctly.
I can make a pr but I need an help to be sure it is all correct.

[2016-09-02 15:26] phra commented on #51
hi @McGiogen,

please send a PR with your changes. if everything is working we'll merge that PR.

thanks for you time.

[2016-09-05 15:52] McGiogen commented on #51
I've forked and done [some work](https://github.com/McGiogen/angular-webpack/commit/23ce44ef9e7c8b9561f1ae22a3ad1da29f1ad34a). The problem now is that I don't know how to count every test file, my configuration is counting only the entry point, tests.webpack.js.

Tomorrow I will try to fix it.

[2016-09-06 11:02] McGiogen commented on #51
I think the work is done. Coverage has changed, but it was expected (as said in documentation...)

### Before:
=============================== Coverage summary ===============================
Statements   : 95.24% ( 20/21 ), 1 ignored
Branches     : 100% ( 6/6 ), 2 ignored
Functions    : 75% ( 3/4 )
Lines        : 92.31% ( 12/13 )

### Now:
=============================== Coverage summary ========

[2016-09-15 23:06] phra commented on #51
@McGiogen why did the coverage change?

[2016-09-15 23:08] phra commented on #51
nope, the PR is totally wrong. you have to drop crossenv and whatever you added and use only the webpack plugin.

[2016-09-16 11:26] McGiogen commented on #51
Next monday I'll improve it and I'll check about coverage percentage

[2016-09-17 15:37] phra commented on #51
i think that #53 is a proper fix for this issue. i will check later, eventually merging #53 and closing #52 .

[2016-09-19 15:49] McGiogen commented on #51
I've updated the code in my pull request, now there is no more the dependency cross-env and every config the plugin needs is wrote in webpack.config.js. I used a temporary variable to be more consistent with the file style but obviously you can write the same using differents approaches.

[2016-09-19 20:08] phra commented on #51
when i said to use a webpack plugin i meant to use a **webpack** plugin, not a **babel** one!
in this way it's not possible to have a consistent coverage when using differents loader such as typescript along with babel. see the other PR to understand, it uses an loader-agnostic instrumenter to calculate coverage!

[2016-09-19 20:39] McGiogen commented on #51
Well, you already have your pull request with a webpack plugin but "everyone" on the internet seems to want to use babel-plugin-istanbul. I repeat that I'm not an expert of tests but I've read a lot and;
 - isparta-loader is deprecated **in favour of** babel-plugin-istanbul;
 - in the [last issue](https://github.com/deepsweet/istanbul-instrumenter-loader/issues/33) of istanbul-instrumenter-loader

[2016-09-19 23:31] deepsweet commented on #51
sorry for confusing you guys. I just undeprecated isparta-loader back because new istanbul stuff is not completely ready yet.

[2016-09-20 17:41] surfjedi opened #54 "How would you setup the tests with a vendor bundle?"
I like you project - I have a similar one that I'm trying to set up karma testing with - but mine has all the vendor files in a separate bundle(angular, ngresource, nganimate) etc..

Any ideas how you would set that up?

[2016-09-20 22:50] phra commented on #54
if you use webpack such as in this project i don't see any problem. are you using it, don't you?

[2016-10-04 10:15] stefek99 commented on #39
YEAH...

Would be nice to make it min-safe by default...

In fact I regret starting my project with you - the main reason why I use starter projects / seeds / defaults is because I don't like configuring stuff. Convention over configuration, less effort wasted doing repetitive stuff, more mental bandwidth for stuff that matters.

#32
#35
#36

And I also had a few emails back and worth with owner o

[2016-10-06 08:54] southnan0 opened #56 "how can i import Promise"
Hello ,I want to import Promise. But I don't want to use typing. how can I use?

[2016-10-21 05:32] firecentaur opened #58 "nto for angular 1.x?"
in the readme it says this repo is for angular 1.x but then it has angular 2 code in it... plz change readme

[2016-10-21 08:05] phra commented on #58
are you drunk? https://github.com/preboot/angular-webpack/blob/master/package.json#L23
i'm closing this..

[2016-10-21 08:05] #58 closed

[2016-10-31 05:05] pcwang0205 opened #59 "change the port 8080"
how to change the port 8080 to 6000

[2016-10-31 14:43] phra commented on #59
you can look at the [webpack-dev-server configuration](https://webpack.github.io/docs/webpack-dev-server.html#webpack-dev-server-cli) and update the `package.json` start script accordingly. (you just have to add the flag `--port 6000`.

cheers.

[2016-10-31 14:43] #59 closed

[2016-11-02 15:27] pyella opened #60 "How to include eslint for angular?."
First I am new to webpack and my knowledge is limited.Is there any way I can incorporate eslint while running in webpack?. If so what all changes I need to make to webpack config file. Also I noticed my debug points in chrome are not getting hit, Am I missing something here?.

[2016-11-03 09:11] phra commented on #60
hi,

you can look at this https://github.com/MoOx/eslint-loader loader for webpack. in the readme you can see the usage and installation.

cheers.

[2016-11-03 09:11] #60 closed

[2016-11-03 20:07] simeg commented on #26
This is because webpack is adding the dependencies from `node_modules` into the minified file. In my case I only have one dependency (angular), and I can see the licensing and version info in my minified file. I'm currently trying to figure out a solution.

I tried adding the `webpack-node-externals` dependency and build with it. It removes the dependency from the built file but the built file doe

[2016-11-03 22:48] simeg commented on #26
So I manage to solve it for my specific case, but it's not the general use case of this app and I'm not sure how to create a generic solution.

I used this project to generate a development server and to have a build script for an angular directive I've written. This is how my file structure looks like:

[code]

I said in my previous comment that I think that the problem is that `node_modules` wer

[2016-11-16 14:21] mrlove opened #61 "Dist folder is not created / bundle has on browser 3.4 mb???"
What do i wrong? Using your sample?

Best,
mrlove

[2016-11-16 17:07] phra commented on #61
i'm about to close this ticket because there aren't enough informations. (e.g. the terminal commands that you used to launch the application).
besides of that you can look at `webpack` documentation and `scripts` section of the `package.json` in order to learn the right command to create the production build instead of opening random tickets on github.

[2016-11-16 17:07] #61 closed

[2016-11-16 17:11] phra commented on #56
Promise are part of ES2015 standard. if you want to use them in ES5 env you need a polyfill like [this one](https://github.com/zloirock/core-js/blob/v2.4.1/modules/es6.promise.js)

[2016-11-16 17:11] #56 closed

[2016-11-16 17:16] phra commented on #20
just declare a [base tag](http://www.w3schools.com/TAgs/tag_base.asp).

[2016-11-16 17:16] #20 closed

[2016-11-16 17:20] phra commented on #34
just follow `README.md` of the selected loader for webpack, like [this one](https://github.com/postcss/postcss-loader)

[2016-11-16 17:20] #34 closed

[2016-11-16 21:42] mrlove commented on #61
Not your day?

[2016-11-24 10:04] phra commented on #51
closed via #53.

[2016-11-24 10:04] #51 closed

[2016-12-20 10:22] asafebgi opened #63 "Silent browser exceptions, script crash without notice"
Using the npm run server default config. The ENV inside webpack.config reports as: server

If I add this statement that'll cause an exception in AppCtrl:
`console.log(something_undefined);`

Instead of seeing an exception notice in the console like:
`Uncaught ReferenceError: something_undefined is not defined`

nothing appears in the browser console. The script just stops loading at that point.

A

[2017-01-04 01:35] #63 closed

[2017-01-12 16:43] edouard-lopez opened #64 "TypeError: undefined is not an object (evaluating '$httpBackend.expectPOST') in test/leave.service.tests.js (line 65)"
I got the following error

[code]

### Test

[code]

### webpack-related config in Karma.conf.js
[code]

Do you know why I got trouble with the injection?

[2017-01-13 15:00] phra commented on #64
you shouldn't include your test files explicity via karma.conf.js. there is an automation to load tests in [this file](https://github.com/preboot/angular-webpack/blob/master/src/tests.webpack.js). just leave the configs as they are checked in the repository.
let me know if this will resolve your issue.

[2017-01-17 13:05] edouard-lopez commented on #64
Here is how I did it
[Karma-webpack: Unknown provider: LeaveServiceProvider <- LeaveService](http://stackoverflow.com/a/41697817/802365)

[2017-01-17 13:05] #64 closed

[2017-01-18 14:05] phra commented on #64
@edouard-lopez so the issue was the `angular.mock.inject`. as i told you, you do not have to explicitly load the tests file because `webpack.require.context` can dinamically load files at runtime.

[2017-01-18 14:38] edouard-lopez commented on #64
I will investigate the [`require.context()`](https://webpack.github.io/docs/context.html), thanks.

[2017-01-24 21:11] RPDeshaies opened #65 "Will you update this starter for Webpack 2 ?"

[2017-01-24 21:12] Foxandxss commented on #65
I guess I should. I haven't worried about Angular 1 or this starter for ages :/

[2017-01-24 21:15] RPDeshaies-playster commented on #65
Ok ! I'm currently working on a angular 1 app and I want change its gulp build process to webpack 2.

I'm using your starter as an inspiration ;)

[2017-01-24 21:16] Foxandxss commented on #65
I guess it still have a lot of users, it is just the need of focusing in less things

[2017-01-24 21:36] mikeerickson commented on #65
Want a PR?

[2017-01-24 21:37] Foxandxss commented on #65
Be my guest sir.

[2017-01-24 21:45] mikeerickson commented on #65
@foxandxss sounds good, will do 🤓

[2017-01-24 23:07] mikeerickson commented on #65
@Foxandxss All done, but need to attend a meeting.  I will PR when I get back
@RPDeshaies @RPDeshaies-playster

[2017-01-25 15:39] phra commented on #65
if we are done, we can safely close this ticket.
feel free to reopen in case, @mikeerickson

[2017-01-25 15:39] #65 closed

[2017-01-29 21:01] klaszlo opened #68 "Renaming "app" to something else, runtime error"
Hi!

Renaming  `MODULE_NAME` in `client/app/app.js:19 to something else:
[code]

results in runtime error:
[code]

The two generated bundle.js file differs in MODULE_NAME variable only. However there are many `app` variable  in the bundle.js, maybe this is why it worked in the first place.

What is the proper way to rename the default angular module name?

[2017-01-29 23:09] mikeerickson commented on #68
@klaszlo make sure you have the `ng-app` directive updated as well in the `public/index.html`

[code]

[2017-01-30 15:42] phra commented on #68
hi @klaszlo , if the solution provided by @mikeerickson resolve your problem, please close this ticket.
thank you.

[2017-01-31 05:20] escapedcat opened #69 "npm test - ERROR [preprocess]: Can not load "webpack"!"
I checked out the latest master (after the webpack2 update).

When I run `npm test` I get this and some more error messages:
[code]

Anyone else is having the same issue?
Did I miss something?
I'm running node version 5.8.0 on Linux Mint.

[2017-01-31 05:52] escapedcat commented on #69
This seems to be related to [Can not load 'webpack' - issue with v2.1.0 #210](https://github.com/webpack-contrib/karma-webpack/issues/210).

Changing these two parts in `webpack.config.js` make the tests work but they fail due to missing css:
[code]

[code]

[2017-01-31 13:28] phra commented on #69
@escapedcat i've experiencing this bug too. i will look into it right now.

[2017-01-31 14:17] #69 closed

[2017-01-31 14:18] phra commented on #69
@escapedcat can you try to check if now the problem is gone also for you? thanks.

[2017-01-31 15:14] escapedcat commented on #69
Thanks @phra, works!

And I learned that:
- `void` can be used in that way
- `null-loader` is an actual thing. I didn't see that before

Thanks for that as well!

[2017-01-31 19:05] fecabianchi opened #71 "ui-router $state"
Hi, how can i inject $state on the controller?

Thanks in advance.

[2017-01-31 19:51] phra commented on #69
@escapedcat happy to help! 👍

[2017-01-31 19:56] phra commented on #71
w/ ES6 you have to inject deps as arguments of the constructor of the ES6 class.
if you use preprocessing tools like ng-inject you have to add the string literals `"ngInject";` as first line of the constructor.

[code]

feel free to reopen if you have have problems.

[2017-01-31 19:56] #71 closed

[2017-01-31 20:09] fecabianchi commented on #71
Thanks for the answer but i still have problems...

i'm trying to do like that

[code]

but when i fire changeState nothing happens.

[2017-01-31 21:30] phra commented on #71
you have missed the this keyword in changeState function. (it's a ES6 class)

[2017-02-02 17:35] fecabianchi opened #72 "$scope and event handling"
Hi, i'm having a issue for days and can't figure out a solution here is the deal...

i write an interceptor for any response error

[code]

and broadcast the event auth-not-authenticated

i'm setting up the interceptor on app.config.js

and trying to check on app.controller that way

[code]

but i can't make this work... any help?
what is the best way to handling authentication and events?

Thanks

[2017-02-03 07:04] stefan-dimitrov commented on #25
I found a solution with my setup. The problem was one of two things:
- the inject() method cannot inject a particular dependency, and it fails **silently**. After manually finding the problematic dependency/ies and fixing it the inject() ran fine.
- another cause was also a previous module(...) call - the module fails to be loaded(also silently) and the dependencies for the inject() also fail, so

[2017-02-03 18:07] phra commented on #72
why are you declaring variables with the colon? 😕

[2017-02-03 18:10] fecabianchi commented on #72
oh, sry, that was a constant and i copy paste just to try a thing... i'm using as a constant and is returning the right value.

[2017-02-04 00:54] fecabianchi commented on #72
[code]

[code]

[2017-02-08 01:25] andypeng2015 opened #73 "ERROR preprocessor.coverage Unexpected token"
Hi Francesco @phra I am following your demo but got this error, could you pls advise what may cause the error below, thanks a lot in advance

[sample.zip](https://github.com/preboot/angular-webpack/files/759470/sample.zip)

`D:\ngList>npm run test

Hash: 8344a6c0a9b3c44a5636
Version: webpack 1.12.15
Time: 309ms
webpack: Compiled successfully.
08 02 2017 09:16:52.612:ERROR [preprocessor.coverage]:

[2017-02-14 09:55] ashwanikumar415 commented on #64
@edouard-lopez  i am facing the exact problem . How did you solve it ?
In my karma file , i dont explicitly mention the spec file instead mention like this :
`    files : [
  './node_modules/angular/angular.js',
	'../src/main/webapp/test/unit/**/*.spec.js',
    ],

   preprocessors: {
      '../src/main/webapp/js/login.js':['webpack','sourcemap'],
      '../src/main/webapp/js/mainApp.js':['webpack

[2017-02-15 16:03] edouard-lopez commented on #64
@ashwanikumar415 see my [stackoverflow answer](http://stackoverflow.com/a/41697817/802365).

[2017-02-20 11:04] escapedcat commented on #39
Is this also the reason why [`webpack -p` (for v1 it was also `--production`)](https://webpack.js.org/guides/production-build/) isn't used?
Because this would use default Uglify options which might not work with angular?
Sorry if this is off-topic.

[2017-02-20 13:37] jswiss opened #74 "Problems with deploying to S3"
Hi there,

I'm trying to deploy to AWS S3 and am running into some issues. Anytime I try to switch states, I get an Unknown provider error, like below:

`Error: [$injector:unpr] Unknown provider: eProvider <- e <- dataSources`

In the above, dataSources is a service I've injected into the 'dashboard' route. Everything works fine when running locally, but it crashes after running the build.

To be

[2017-02-20 14:59] phra commented on #74
@jswiss if you can post an example project i can look into it. imho some of your components are missing the inject metadata for safe minification.

[2017-02-20 16:01] jswiss commented on #74
@phra very kind of you. I just noticed I didn't format properly, so I fixed that. My repo is available
[here](https://github.com/CharlieGoldsmithAssociates/rss-health-mapping
)
I tried playing around with how I injected services, but so far no luck. I'll totally send beer money if you can help sort this!

[2017-02-20 22:24] phra commented on #74
https://github.com/CharlieGoldsmithAssociates/rss-health-mapping/blob/master/src/features/dashboard/dataSources.service.js

here for example i can't see any injection metadata.

[2017-02-21 05:23] jswiss commented on #74
Thanks @phra . I've actually never had to inject metadata into an Angular app; this is the first one I've worked on that wasn't already in production. [I found this article talking about it, is it what you are referring to?](http://bnlconsulting.com/blog/dynamic-metadata-in-angularjs)

I've read before that minification/uglification messes with metadata, but I didn't know it causes an error that b

[2017-02-21 09:32] mopsik opened #75 "Typo in webpack.config.js comment"
Hello.
It seems that there's a typo in comment regarding istanbul loader.

I mean this line:

While it actually seems to skip node_modules and files that end with .spec

[2017-02-21 09:56] escapedcat commented on #75
https://github.com/preboot/angularjs-webpack/blob/master/webpack.config.js#L133
Providing direct link for easier access.

[2017-02-21 10:42] apihlaja commented on #74
That's what he meant: https://docs.angularjs.org/guide/di

To minify Angular code, you have to use array syntax, $inject property or [ng-annotate](https://github.com/olov/ng-annotate).

@preboot seems to recommend $inject: https://github.com/preboot/angularjs-webpack/issues/12#issuecomment-188203891

[2017-02-21 13:50] #75 closed

[2017-02-21 13:51] phra commented on #75
@mopsik @escapedcat fixed, thanks.

[2017-02-21 14:23] jswiss commented on #74
Ah, cool, thanks a million @apihlaja

For now I just commented out Uglify in Webpack (needed to get something live quick), but I'll clean up my dependency injection later.

Thanks again!

[2017-02-21 15:13] phra commented on #74
@jswiss you can use the webpack loader version -> https://www.npmjs.com/package/ng-annotate-loader
just keep in mind that i have to explicitly add `"ngInject";` as first line of the constructor of every ES6 classes otherwise the loader will not know to annotate the transplied version of the class.

i close the ticket. feel free to reopen.

[2017-02-21 15:13] #74 closed

[2017-02-26 12:34] klaszlo commented on #68
It was really lame of me, so thank for the insight. I since updated my angular app to es6, so big thank you.

I'm closing this ticket. Sorry for keeping you busy with the obvious error on my side.

[2017-02-26 12:34] #68 closed

[2017-03-03 12:21] techhysahil commented on #20
I have write solution for above problem as it occur to me too. Check http://blog.techhysahil.com/angular-2/deploy-angular-2-project-subdirectory/ for full detail.

[2017-03-30 08:41] tobiasbueschel opened #78 "custom fonts are not loaded"
I'm trying to use a custom font by referencing it in `app.css`. Unfortunately, it only works if I declare it in `index.html`. Maybe Webpack does not properly resolve the path?

**Not working:**
[code]

**Working:**
[code]

[2017-03-30 10:12] phra commented on #78
that is because of [this](https://github.com/webpack-contrib/css-loader/blob/master/README.md#options).

import() and url() are managed by webpack itself so you have to put there the filesystem relative path or disable this feature if you want to let the browser to deal with that.

[2017-03-30 10:12] #78 closed

[2017-04-04 15:46] ttvz opened #80 "Can't load ressources when "npm run build""
Hi,

The starter is working well in dev mode but the index.html generated doesn't load resources after the "npm run build":
index.html:10 GET file:///css/app.css net::ERR_FILE_NOT_FOUND
index.html:13 GET file:///app.a4613de7b169ac687194.js net::ERR_FILE_NOT_FOUND
/img/favicon.ico:1 GET file:///img/favicon.ico net::ERR_FILE_NOT_FOUND

Even when i am doing node cmd on the generated app.js file, i ha

[2017-05-21 23:19] adiakritos commented on #28
edge case? ugh. My whole app is divided up with ng-includes everywhere.

[2017-05-24 03:19] shaodahong opened #81 "css in the picture packing problem"
node -v
v7.10.0

npm -v
4.2.0

webpack -v
2.5.0

I set up a div tag in app.html, give it a class box, and then I set this box background: `url ('../ public / img / logo.png') no-repeat;`

then i run` npm run build`, Find the image packed in the root directory

Have you tried it?
![image](https://cloud.githubusercontent.com/assets/14831261/26385485/b01f0cba-4072-11e7-95f5-014e03572ff8.png)

I hope

[2017-06-06 15:38] tatmanblue commented on #30
I tried following the example by stefek99, but some information must be missing.   I created a folder under app called "spanText" and added a js file.  I then referenenced it in  app.js.  I get the following error:

ERROR in ./src/app/app.js
Module not found: Error: Can't resolve 'spanText/spanTextController.js' in 'd:\projects\html\my-app\src\app'
 @ ./src/app/app.js 11:0-41
 @ multi (webpack)-de

[2017-06-07 05:03] surfjedi commented on #30
here is a bigger project that I just needed to upgrade to unit tests and used the great config from this repo. Thanks!
https://github.com/berzerk-interactive/angular-1.6.x-webpack-components-material-es6

[2017-06-07 20:22] tatmanblue commented on #30
@surfjedi maybe you can help me fill in the blanks.   when I run the code from the github repo you posted, all I see in browser is a directory listing of the generated js files.    I do not see any of the "angular stuff" kicking in at all, definitely not seeing what is designed in index.html

[2017-06-08 03:04] surfjedi commented on #30
![app](https://user-images.githubusercontent.com/536809/26910532-c0b3084e-4bc4-11e7-90b0-56ad31b70407.png)
@tatmanblue that is what you should see.

I fixed a missing dep in package.json earlier today. Sorry - pull again.  Then make sure you "npm install" then "npm run dev"

[2017-07-12 11:31] thejamespower opened #82 "extract-text-webpack-plugin unstable"
Using version 2.0.0-beta of ExtractTextPlugin. Needs upgrading to 3.x.

https://github.com/webpack-contrib/sass-loader/issues/388

[2017-07-12 12:55] phra commented on #82
@thejamespower do you mind send a PR?

[2017-08-08 07:36] frederikprijck opened #84 "Integrate another starter in your starter"
Hi,

I've been working on https://github.com/frederikprijck/angularjs-webpack-starter as part of my own setup for a while now.
There's a few differences compared to your starter, any chance you're up for a chat to integrate some features so I can get rid of my starter? I do get there's a lot of starters out there, so if my repo is totally not something you feel comfortable with, I'd totally unders

[2017-08-08 09:15] frederikprijck commented on #84
@phra Before taking any time to create a PR, it might be good to know if you're interested in going for TS. If not, I can leave out that part (however, I'd encourage doing so), but that's a little bit more setup work if you decide to not merge the TS version (which would be somewhat pitty for the time spent :D ).

[2017-08-08 09:20] phra commented on #84
i work most of my time with typescript and i love it.
we can have a separate branch called `typescript` or merge it in master and move the actual one to a branch called `javascript` so in any case your work won't be useless.

what is @Foxandxss thinking about this?

[2017-08-08 09:44] frederikprijck commented on #84
I'm also a fan of addressing https://github.com/preboot/angularjs-webpack/issues/30 (but using modules instead), my starter takes care of that aswell.

[2017-09-06 08:25] cyrilchapon opened #86 "Scoped CSS"
There is an example of whole-app-scoped css in *src/style*, but what about module-scoped css ?

[2017-09-06 11:02] phra commented on #86
you should use the modules feature of webpack's css loader: https://github.com/webpack-contrib/css-loader#modules

[2017-09-06 11:02] #86 closed

[2017-09-29 07:13] itaditya opened #88 "The description of the repo is misleading"
The current description is
A complete, yet simple, starter for **Angular** using webpack.

However Angular refers to Angular2 and it's later versions.
Please change it to AngularJs

[2017-09-30 09:09] dslian commented on #81
Well, you can use [url-loader](https://webpack.js.org/loaders/url-loader/) for img.  see config *outputPath*

[2017-10-02 09:44] #88 closed

[2017-11-20 20:42] ugultopu opened #89 "When to use `templateUrl` vs `template: require('./app.html')`?"
In [app.js](https://github.com/preboot/angularjs-webpack/blob/master/src/app/app.js), the template is referenced as follows:

    template: require('./app.html')

However, AngularJS has a `templateUrl` option as well and it could have been written as following as well:

    templateUrl: './app.html'

What would be the differences between these two approaches?

[2017-11-20 22:48] phra commented on #89
i think there were differences in the past. right now the suggested way is to use the `@angular/cli`. have a look [here](https://github.com/angular/angular-cli).

[2017-11-20 22:48] #89 closed

[2017-12-26 14:59] ggktm opened #90 "nothing show after first fresh build"
I've just clone this first and installed all modules via `yarn install`

It succeeded if running at `yarn server`, it was nothing to modify the files there.
but when trying `yarn run build` at project root, the compile was success but it shows nothing and `net::ERR_FILE_NOT_FOUND` happens at console log.

The error begins while the compile progress shows the `DedupePlugin` warn to be removed. and

[2017-12-26 15:06] ggktm commented on #90
I've just clone this first and installed all modules via `yarn install`

It succeeded if running at `yarn server`, it was nothing to modify the files there.
but when trying `yarn run build` at project root, the compile was success but it shows nothing and `net::ERR_FILE_NOT_FOUND` happens at console log.

I'm waiting for the little fix here. thx in adv b4

[2017-12-31 01:49] phra commented on #90
i'm no longer working on angular 1 projects.. maybe you can send a PR to fix the problem.

[2018-01-03 05:13] chamanklalwani commented on #80
For **npm run build** on your **local machine**

1) Update line# 49 of **webpack.config.js** to publicPath: isProd ? '' : 'http://localhost:8080/'. (i.e. removing '/' if isProd flag is true)

2) Remove/Comment **<base href="/">**

**For deploying it on Server** (i.e. nginx or another) follow these instructions

Do above changes as per the server-specific deployment.

[2018-01-04 20:06] phra commented on #80
@chamanklalwani if some changes are required to the starter kit just send a PR with the required changes.

[2018-01-05 05:03] chamanklalwani commented on #80
@phra I don't think any change required to the starter kit. It's just @ttvz is facing issue related to **npm run build**.

I was facing the same issue too on my machine, and I fixed it by following above-mentioned instructions. Opening **dist/index.html** file generated from **npm run build** in the browser will load nothing. Because It's unable to load resources. So I figured out an extra '/' bei

[2018-01-05 09:39] phra commented on #80
closing..

[2018-01-05 09:39] #80 closed

[2018-01-23 13:25] damien-mcmahon commented on #90
I had the same issue with `app.bundle.js` not being found.

I changed the `webpack.config.js` file to reference `http://0.0.0.0:8080/` instead of `http://localhost:8080/` to get it displaying correctly in Chrome (on macOS).

I've not bothered to understand why (and not tested other browsers) as this is just for a quick demo.

[2018-01-23 13:35] damien-mcmahon commented on #90
PR is here:
https://github.com/preboot/angularjs-webpack/pull/92

[2018-02-12 09:52] #90 closed

[2018-02-14 09:59] tomavic opened #94 "What is the best practice and right way to use this template?"
Hi

I have a web app project which had been built using this template. Now I need an answer for 3 points:

Do I need to add script / link tags into index.html ?

How to include external angular/non-angular libraries ?

How to include external css files such as bootstrap.css ?

How to use sass instead of css ?

[2018-02-19 10:57] phra commented on #94
@tomavic this project is configured with webpack, so you have to use the es6 module syntax to work with it. have a look here: https://webpack.js.org/guides/getting-started/

[2018-02-19 10:57] #94 closed

[2018-02-20 15:16] tomavic commented on #94
Hi @phra

I know well it's based on webpack and ES6 and that's so obvious
Before, I used John Papa Angular 1.x style guide. and now i found this new way contradict with that style guide in which you should wrap your modules in IIFE

that was my main question

my second is how to use sass instead of css

Thanks in advance

[2018-02-22 12:54] phra commented on #94
you can use a postcss plugin called [precss](https://github.com/jonathantneal/precss) or use the regular [sass-loader](https://github.com/webpack-contrib/sass-loader).

i suggest the first option because it's pure javascript. (no `libsass`, `ruby-sass`, no compilation steps during install).

you have to follow the relative `README.md` of the library that you want to use.

[2018-03-08 13:59] jozzhart commented on #84
Hi @phra

Not sure where you got to with this, but I was wondering if you'd be interested in a pull request to add a basic component and karma tests.

[2018-03-08 14:49] frederikprijck commented on #84
@jozzhart Not sure how this is related to the current issue. Never the less I'm still interested to incorporate https://github.com/frederikprijck/angularjs-webpack-starter . This one is almost on webpack 4 aswell.

[2018-03-12 23:04] phra commented on #84
if you can work a PR that does:

1. update deps (update webpack / angular)
1. update and port to typescript the current components
1. update the tests

keeping the same UI of starter i would be glad to review the PR.

[2018-04-12 21:30] alejosv opened #95 "Dependecy deprecated"
https://github.com/preboot/angularjs-webpack/blob/3b2f24289844601b92160ff2794f45ec045a62b8/package.json#L30

You must replace this dependency with babel-preset-env@1.6.1

[2018-04-13 12:29] phra commented on #95
feel free to send a PR.

[2018-04-20 20:54] Mic75 opened #96 "ngMock function in global scope (module, inject, ...)"
Hi there,

Thanks for this boilerplate, very handful.
Do you know why the functions from `ngMock` are not available in the global scope of the spec file ?

For example, if I replace, `angular.mock.module('app');`  by `module('app')` (in app.spec.js:9), I am having an error saying that `module` is undefined.

AngularJS doc say that [the function is published on windows for easy access](https://docs

[2018-05-02 19:53] phra commented on #96
i'm quite sure that webpack is preventing it to patching `window` object. just use `angular.mock.module()` instead.

[2018-05-02 19:53] #96 closed

[2018-05-02 20:39] Mic75 commented on #96
Thanks for the answer. Not quite correct though, since all jasmine function are available on window (`expect`, `spyOn`, ...). It looks like jasmine manage to patch window but not angular. Maybe something related to the order webpack is loading modules...

[2018-05-03 08:33] phra commented on #96
yeah, i explained myself badly, probably the angular package is published with a [UMD](https://github.com/umdjs/umd/blob/master/templates/commonjsStrict.js) template so if you use a commonjs-like environment, like webpack, the package doesn't register itself on window.

[2018-05-06 09:13] dkokic commented on #95
there is already a PR (#91) for it ... not sure why is it pending on the browserlist.

[2018-05-23 17:00] phra commented on #95
@dkokic because of:

![image](https://user-images.githubusercontent.com/984628/40439559-91851a66-5ebb-11e8-9788-3a77ededbf5d.png)

[2018-06-08 16:40] JarDv opened #102 "npm start"
Hi.

I have a clean repository clone and on npm start command i get this message on browser:

![image](https://user-images.githubusercontent.com/4742036/41170119-486137da-6b08-11e8-86c9-0887f987915e.png)

[2018-06-11 14:52] rickjjones commented on #102
I get the same.

[2018-06-11 15:31] phra commented on #102
@JarDv @rickjjones I don't have time now to debug an AngularJS boilerplate.. you should really consider to move on Angular 6+ with the [official CLI](https://github.com/angular/angular-cli).

[2018-06-12 12:45] erichbehrens commented on #102
@JarDv @rickjjones I had it working by changing line 48 of `webpack.config.js` from this:

 `publicPath: isProd ? '/' : 'http://0.0.0.0:8080/',`

to

`publicPath: '/'`

[2018-06-12 13:32] phra commented on #102
@erichbehrens can you eventually send a PR? thanks.

[2018-06-12 14:57] #102 closed

[2018-07-05 10:58] cvaliere commented on #84
hi @frederikprijck I'm looking for a AngularJS+Webpack+TS+SCSS starter, and the 2 most starred are this one and yours

I've cloned and installed both

this one seems faster, but yours is closer from my final goal

what way should I go?

thanks :)

[2018-07-05 11:03] frederikprijck commented on #84
@cvaliere Feel free to report an issue on mine to indicate how you measure the speed.
I'd be happy to fix it.

[2018-07-05 11:45] cvaliere commented on #84
very simply: after starting your projects, I change a file (JS for this one, TS for yours) and I wait for reload
this one is almost immediate to reload, whereas yours takes a few seconds
I'm thinking that maybe it's because yours has 1 more step (compile TS to JS), but I didn't dive deep yet

anyway, as I see that you wanted to merge yours into this one, my question was: do you feel that this one

[2018-07-05 11:50] frederikprijck commented on #84
I prefer mine, as that's why I've created it (it uses TypeScript, Webpack4, ...). But I don't like to pull people towards my repository in another person's repository, that's not done imho.

[2018-07-07 16:25] artemhp opened #104 "Exclude AngularJS library from bundle"
Hello.
I'm going to create a single angularjs module with this starter (like ui-bootstrap-tpls-2.5.0).
Is it possible to exclude AngularJS library from the bundle on `build`?

[2018-07-26 11:08] Vortilion opened #105 "browserslistrc is being ignored"
Hi,

I noticed that in the postcss.config.js it has a config for the last 2 versions. So I guess it doesn't make sense to also include the browserslistrc file, which isnt being used at all?

[2018-08-03 07:06] simon998yang opened #107 "sourcemap is not generated"
i saw in webpack.config.js

if (isTest) {
    config.devtool = 'inline-source-map';
  }
  else if (isProd) {
    config.devtool = 'source-map';
  }
  else {
    config.devtool = 'eval-source-map';
  }

But when i run 'npm run build' , I cannot find sourcemap is generated.

[2019-05-17 16:41] peterblazejewicz opened #108 "Conflicting browserlist setup"
Just a note, the sample configuration supports both:

- `.browserslistrc`
- inline configuration for Autoprefixer plugin

I'm not sure, if inline configuration is recommended one: https://github.com/postcss/autoprefixer#browsers

Thanks!

[2019-05-17 23:50] phra commented on #108
feel free to send a PR to solve the issue.

[2021-06-15 13:26] vzakharov-rxnt opened #112 "No cache bust on CSS?"
Also CSS is not minified.
![image](https://user-images.githubusercontent.com/85562318/122060685-cbff0b80-cdbb-11eb-9c19-ec12f6c3d0a8.png)